body {
    background: black;
}
div {
    text-align: center;
}
#modulus {
    font-size: 200px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    color: white;
    text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px, black 2px -2px 1px, black 0px 2px 1px, black 2px 0px 1px, black 0px -2px 1px, black -2px 0px 1px;
}
span#buttons {
    background-color: #aaa;
    border-radius: 2em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}
button {
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background: none;
}
button#hover {
    background: yellow;
}
button span {
    cursor: pointer;
}
svg#quilt {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: gray;
}
#squareInfo {
    min-width: 8em;
    padding: 1px 4px;
    opacity: 0;
    background: #ffffff;
    position: absolute;
    border-radius: .4em;
    pointer-events: none;
    border: 1px solid #888888;
    font-family: sans-serif;
}