body {
    background: #808080;
    padding: 0;
    margin: 0;
}
div {
    text-align: center;
}
#controls {
    width: 200px;
    text-align: center;s
    margin-left: 0;
    margin-top: 40px;
}
#modulus {
    font-size: 140px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    color: white;
    text-shadow: black 2px 2px 1px, black -2px 2px 1px, black -2px -2px 1px, black 2px -2px 1px, black 0px 2px 1px, black 2px 0px 1px, black 0px -2px 1px, black -2px 0px 1px;
}
span#buttons {
    background-color: #bbb;
    border-radius: 1em;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
}
button {
    min-width: 2em;
    font-size: 12px;
    padding: 2px 4px;
    margin: 0;
    cursor: pointer;
    border: 1px solid transparent;
    background: none;
    font-weight: bold;
    border-radius: 4px;
}
button:hover {
    background: #ffff66;
    border-color: #111111;
}
button:active {
    background: #dddd00;
    border-color: #111111;
}
button span {
    cursor: pointer;
}
#quiltDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
}
svg#quilt {
    height: 100%;
}
#squareInfo {
    min-width: 8em;
    padding: 1px 4px;
    opacity: 0;
    background: #ffffff;
    position: absolute;
    border-radius: .4em;
    pointer-events: none;
    border: 1px solid #888888;
    font-family: sans-serif;
}
.selectedOperator {
    border-color: #111111;
    background: white;
}
#key {
    list-style-type: None;
    text-align: left;
    padding: 10px;
    margin-left: 60px;
    font-size: 120%;
}
.keyBox {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}
.keyNum {
    display: inline-block;
    vertical-align: middle;
    padding: .1em .2em;
}
